<div align="center">
  <h1><%questionnaire.rootQuestion.question%></h1>
  <%#questionnaire.selectedProducts%>
    <a href="#" style="display:block;font-size:20px;;"><%rootQuestionAnswer%></a>
    <%#questions%>
      <h4><%question%></h4>
      <%#answerMapping%>
        <a href="#" style="display:inline-block;margin:10px;"><%answer%></a>
      <%/answerMapping%>
    <%/questions%>
  <%/questionnaire.selectedProducts%>
</div>